@{
    var date = ViewBag.date;
    var weekDay = ViewBag.date.DayOfWeek;
}

<div class="row mb-4">
    <div class="col-10">
        <h4>Lista de Tarefas</h4>
        <p>@weekDay, @date.ToString("dd/MM/yy")</p>
    </div>
    <div class="col-2">
        <a class="btn btn-primary float-end" asp-area="" asp-controller="TaskItem" asp-action="Create">Nova Tarefa</a>
    </div>
</div>